:root{
    --bg01: linear-gradient(#060808,#3f0404,#262626);
    --bg-color:#1f242d;
    --text-color:#fff;
    --name-color:#ff2525;
    --main-color:#0ef;
    --footer-color:#262626;
}
*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    background:var(--bg01);
    color:var(--text-color);
}

.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
    cursor: pointer;
    transition: transform 0.5s;
}
.logo:hover{
    transform: scale(1.1);
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
    transition: transform 0.3s;

}
nav ul li:hover{
    transform: scale(1.1);
}
nav ul li a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 17px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background:var(--main-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
nav ul li a:hover::after{
    width: 100%;
}
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10% 40px ;
    padding-top: 100px;
}
.home-img img{
    width: 30vw;
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h2:nth-of-type(2){
    margin-bottom: 2rem;
}
.home-content h1{
    font-size: 5rem;
    font-weight: 700;
}
.home-content span{
    color: var(--main-color);
}
.home-content h2{
    font-size: 3rem;
}
.home-content p{
    font-size: 1.6rem;
}
/*.......about......*/
#about{
    padding: 80px 0;
    color: var(--text-color);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ab-cl1{
    flex-basis: 35%;
    
}
.ab-cl1 img{
    width: 27vw;
    border-radius: 15px;
}
.ab-cl2{
    flex-basis: 60%;
}

.sub{
    font-size: 50px;
    font-weight: 600;
    color: var(--text-color);
    
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: color 0.5s, transform 0.3s;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:var(--main-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}

.tab-links.active-link::after{
    width: 50%;
}
.tab-cont{
    list-style: none;
    margin: 10px 0;
}
.tab-cont span{
    color:var(--main-color);
    font-size: 14px;
}
.tab-links:hover{
    transform: translateY(-3px);
    color: var(--main-color);
}
.tab-cont{
    display: none;
}
.tab-cont.active-tab{
    display:block;
}
/*services*/
#services{
    padding: 30px 0;
}
.serv-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.serv-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    background: rgba(255,255,255,0.15);
    box-shadow: 0px 8px 20px 0px rgba(31,38,135,0.37);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    z-index: 10;
    transition: background 0.5s, transform 0.5s;
}
.serv-list div i{
    font-size:50px;
    margin-bottom: 30px;
}
.serv-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.serv-list div a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.serv-list div:hover{
    background: linear-gradient(rgba(0,0,0,0.6), var(--main-color));
    transform: translateY(-10px);
}

/*---Trabalhos---*/
#trabalhos{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;

}
.work{
    border-radius: 15px;
    position: relative;
    overflow: hidden;
 
}
.work img{
    width: 100%;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6),#00f7ff);
  border-radius: 10px;  
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom:20px ;
}
.layer a{
    margin-top: 20px;
    color: #049196;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width:60px ;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height:100% ;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid;
    padding: 14px 50px;
    border-radius: 8px;
    text-decoration: none;
    background: #000000;
    color:#049196;
    transition: background 0.5s;
}
.btn:hover{
    background: #049196;
    color: rgba(255, 255, 255, 0.76);
    box-shadow: 0 0 0.5rem var(--main-color);
    border-radius: 15px;
}

/*Contactar*/
.left-cont{
    flex-basis:35% ;
}
.right-cont{
    flex-basis:60% ;
}
.left-cont p{
    margin-top: 30px;
}
.email{
    text-decoration: none;
    color: #fff;
}
.left-cont p i{
    color: #00f7ff;
    margin-right: 15px;
    font-size: 25px;
}
.social{
    margin-top: 30px;
}
.social a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
    cursor: pointer;
}
.social a:hover{
    color: #069ea3;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #005045;
    transition: background 0.5s, color 0.5s;
}
.btn.btn2:hover{
    background: #069ea3;
    color: #fff;
}
.right-cont form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 20px;
}

.top-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    padding-top:10px ;
    background: var(--main-color);
    cursor: pointer;
}
.top-icon:hover{
    box-shadow: 0 0 0.5rem var(--main-color);
}
.top-icon a{
    color: var(--text-color);
    text-decoration: none;
}
nav .fas{
    display: none;
}
/*small screens*/
@media only screen and (max-width: 600px){
    .home{
        background-image: url(images/.png);
        background-repeat: no-repeat;
    }
    .home-content{
        margin-top: 100%;
        font-size: 16px;
        flex-basis: 35%;
    }
    .home-content h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: var(--main-color);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        text-decoration: none;
    }
    i .fas.fa-bars{
        cursor: pointer;
        transition: transform 0.5s;
    }
    .fas.fa-bars:hover{
        transform: scale(1.1);
    }
    .sub{
        font-size: 40px;
    }
    .ab-cl1, .ab-cl2{
        flex-basis: 100%;
    }
    .ab-cl1{
        margin-bottom: 30px;
    }
    .ab-cl2{
        font-size: 40px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .left-cont, .right-cont{
        flex-basis: 100%;
    }
    .copyright{
        flex-basis: 100%;
        font-size: 14px;
    }
    .copyright a{
        border: 1px solid var(--text-color);
        border-radius: 50%;
    }
}
#msg{
    color: #069ea3 ;
    margin-top: -45px;
    display: block;
}